.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.25em;
}

.App-intro {
  font-size: large;
}

body {
  /*for background image*/
  background-image: url("logo1.png");
  background-size: cover;
  background-attachment: fixed;
  /*for text*/
  color:white;
}
